<h1><%= @attraction.name %></h1>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Tickets: <%= @attraction.tickets %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<%= button_to "Go on this ride", rides_path, params: {ride: @attraction.id} %>
